.graph {
	width: 1200;
    height: 900;
}

svg {
    width: 100%;
    height: 100%;
}

.node circle{
    stroke: white;
    stroke-width: 1.5px;
    opacity: 1.0;
}

.link {
    stroke: #888;
    stroke-width: 1px;
    stroke-opacity: 1.0;
}

path {
    stroke: #888;
}

text {
    font: 10px sans-serif;
    pointer-events: none;
}

text.shadow {
    stroke: #fff;
    stroke-width: 3px;
    stroke-opacity: .8;
}

/*.node {
    stroke-opacity: 1;
    opacity: 1;
}
*//*.mynodefade {
    opacity: .1;
}*//*
*//*.nodeclicked {
}*//*

.link {
    stroke-width: 1px;
    stroke: #aaa;
}

*//*.linkfade {
    stroke-width: 1.5px;
    stroke: #aaa;
    stroke-opacity: 0.05
}*//*

.circle {
    fill: #ccc;
    stroke: #000;
    stroke-width: 1.5px;
}
*//*.circlefade {
    fill: #ccc;
    stroke: green;
}*//*

.text {

}
.textfade {}*/


/*
path {
    stroke: blue;
    fill: #00c;
}*/
