<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Page 2</title>
</head>

<body style="margin: 200px 300px;">

    <p>Page 2：</p>
    <form action="/page2/2", method="post", id='acaForm', name="acaForm">
        选择学院<select id="acaId1", name="acaId1">
            <option value=10 selected="selected">Choose an academy</option>
            <option value=0 >学院 1</option>
            <option value=1 >学院 2</option>
        </select>

        选择学院<select id="acaId2", name="acaId2">
            <option value=10 selected="selected">Choose an academy</option>
            <option value=0 >学院 1</option>
            <option value=1 >学院 2</option>
        </select>

        <input type="submit", name="submit", value="确定">
    </form>

</body>
</html>